<section id="experiences" class="page-section">
  <div class="container">
    <h1 class="section-heading">Where I’ve Worked</h1>

    <div class="flex max-md:flex-col gap-12 max-lg:gap-10">
      <ul
        class="tabs-list list-none basis-[25%] max-lg:basis-[30%] max-md:basis-[100%] flex flex-col max-md:flex-row max-md:flex-wrap"
        role="list"
      >
        @for (experience of experiences; track experience.name) {
          <li
            class="flex items-center gap-4 cursor-pointer max-md:text-sm"
            [ngClass]="{
              'font-bold !gap-3': selectedExperience().name === experience.name
            }"
            (click)="onSelectExperience(experience)"
          >
            <div
              class="img-wrapper"
              [ngClass]="{
                'active max-md:shadow-md': selectedExperience().name === experience.name
              }"
            >
              <img
                class="{{
                  selectedExperience().name === experience.name ? 'grayscale-0' : 'grayscale'
                }}"
                width="20px"
                src="/assets/images/companies/{{ experience.logo }}"
                alt="{{ experience.name }}"
              />
            </div>

            <span
              class="comp-name max-md:!hidden"
              [ngClass]="{
                'active': selectedExperience().name === experience.name
              }"
            >
              {{ experience.name }}
            </span>
          </li>
        }
      </ul>

      <div class="flex-1">
        <h3 class="flex items-center text-lg gap-2 mb-2">
          <span class="font-semibold text-color-orange">
            @if (selectedExperience().website) {
              <a
                class="company-web-link hover:underline flex gap-1.5"
                href="{{ selectedExperience().website }}"
                target="_blank"
              >
                <span>{{ selectedExperience().name }}</span>
                <fa-icon [icon]="icons.faArrowUpRightFromSquare" class="icon text-[14px]" />
              </a>
            } @else {
              {{ selectedExperience().name }}
            }
          </span>
          <span>•</span>
          <span class="text-[0.9rem]">
            {{ selectedExperience().location }} | {{ selectedExperience().employment_type }}
          </span>
        </h3>

        <div class="flex flex-col gap-1 mb-2">
          @for (designation of selectedExperience().designations; track $index) {
            <div>
              <span>{{ designation.title }}</span>
              &nbsp;
              <span class="text-[rgba(0,0,0,0.4)] text-sm">
                {{ designation.start_date }} - {{ designation.end_date }}
              </span>
            </div>
          }
        </div>

        <ul class="list-disc flex flex-col gap-2 pl-4 mt-5">
          @for (description of selectedExperience().descriptionList; track $index) {
            <li class="text-[0.94rem] leading-6">{{ description }}</li>
          }
        </ul>

        <ul class="flex gap-3 flex-wrap mt-5">
          @for (skill of selectedExperience().usedSkills; track $index) {
            <li class="text-[0.7rem] py-2 px-4 bg-white shadow-md font-medium">
              {{ skill }}
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</section>
