<section id="experiences" class="page-section">
  <div class="container">
    <h1 class="section-heading">Where I’ve Worked</h1>

    <div class="flex max-md:flex-col gap-16 max-lg:gap-10">
      <ul
        class="list-none basis-[25%] max-lg:basis-[30%] max-md:basis-[100%] flex flex-col max-md:flex-row max-md:flex-wrap max-md:gap-3"
        role="list"
      >
        @for (experience of experiences; track experience.name) {
          <li
            class="flex items-center gap-4 cursor-pointer md:px-4 md:py-5 max-md:p-2 max-md:text-sm md:border-l-[1px] border-gray-400 hover:bg-white transition-all max-md:rounded-md"
            [ngClass]="{
              'font-bold md:border-l-[4px] max-md:shadow border-primary bg-white':
                selectedExperience().name === experience.name
            }"
            (click)="onSelectExperience(experience)"
          >
            <img
              class="{{
                selectedExperience().name === experience.name ? 'grayscale-0' : 'grayscale'
              }} max-md:w-[40px]"
              width="20px"
              src="/assets/images/companies/{{ experience.logo }}"
              alt="{{ experience.name }}"
            />
            <span class="max-md:hidden">{{ experience.name }}</span>
          </li>
        }
      </ul>

      <div class="flex-1">
        <h3 class="flex text-lg gap-2 mb-2">
          <span>{{ selectedExperience().designation }}</span>
          <span>•</span>
          <span class="font-semibold">
            @if (selectedExperience().website) {
              <a
                class="hover:underline"
                href="{{ selectedExperience().website }}"
                target="_blank"
                >{{ selectedExperience().name }}</a
              >
            } @else {
              {{ selectedExperience().name }}
            }
          </span>
        </h3>

        <p class="text-[rgba(0,0,0,0.4)]">
          {{ selectedExperience().start_date }} - {{ selectedExperience().end_date }} |
          {{ selectedExperience().location }}
        </p>

        <ul class="list-disc flex flex-col gap-2 pl-4 mt-5">
          @for (description of selectedExperience().descriptionList; track $index) {
            <li class="text-[0.94rem] leading-6">{{ description }}</li>
          }
        </ul>

        <ul class="flex gap-3 flex-wrap mt-5">
          @for (skill of selectedExperience().usedSkills; track $index) {
            <li class="text-[0.7rem] py-2 px-4 bg-white rounded-full shadow font-medium">
              {{ skill }}
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
</section>
