<section id="about" class="page-section text-white bg-color-black-bg">
  <div class="container">
    <h1 class="section-heading text-center">About Me</h1>

    <div
      class="max-w-[920px] mx-auto flex flex-col gap-5 leading-8 max-md:leading-7 text-[rgba(255,255,255,0.6)] md:text-[1.2rem]"
    >
      <p>
        Hello! My name is Anil, and I thrive on bringing digital creations to life on the web.
        Originally diving into programming as a Backend Developer, I quickly discovered my passion
        for frontend development after a year in the field. The dynamic world of frontend design
        captivated me, igniting a love affair that continues to drive my work and creativity.
      </p>
      <p>
        Fast-forward to today, and my journey has led me to collaborate with diverse entities,
        including a <strong>SaaS-based startup</strong>, a <strong>motor insurance company</strong>,
        and a <strong>software development company</strong>. Currently, my primary focus revolves
        around continual learning and the exploration of emerging technologies, all geared towards
        enhancing my skills and shaping my future career path.
      </p>
      <p>
        I have a total of <strong>5+ years of experience in web development</strong> with expertise
        in multiple programming languages and frameworks like Angular 13+, React.js, Node.js, and
        Express.js, strong problem-solving skills, and a proven track record of delivering
        successful projects.
      </p>
    </div>
  </div>
</section>
