<section id="skills" class="page-section">
  <div class="container">
    <h1 class="section-heading">
      Technologies
      <span>I’ve been working with recently</span>
    </h1>

    <div>
      <div class="flex justify-center mb-10">
        <ul class="tabs-list flex gap-4 list-none rounded-full bg-white shadow-md" role="list">
          @for (category of categories; track category.name) {
            <li
              class="text-center cursor-pointer px-6 py-3 max-sm:px-4 max-sm:py-2 rounded-full transition-colors"
              [ngClass]="{
                'font-semibold bg-color-yellow text-color-black':
                  selectedCategorySig() === category.name
              }"
              (click)="selectedCategorySig.set(category.name)"
            >
              <span class="ml-1 max-sm:text-sm">{{ category.label }}</span>
            </li>
          }
        </ul>
      </div>

      <div
        class="max-w-[1024px] mx-auto flex gap-16 max-sm:gap-10 flex-wrap justify-center min-h-[250px] max-md:min-h-[380px]"
      >
        @for (skill of filteredSkills(); track skill.name) {
          <div class="flex flex-col items-center justify-between gap-3 h-max transition-all">
            <img
              src="/assets/images/skills/{{ skill.img.src }}"
              alt="{{ skill.name }}"
              class="w-[50px] max-sm:w-[40px]"
            />
            <span class="mb-0 font-[500] text-sm">{{ skill.name }}</span>
          </div>
        }
      </div>
    </div>
  </div>
</section>
