// Screens Breakpoints
$screen-xxs: '430px';
$screen-xs: '576px';
$screen-sm: '640px';
$screen-md: '768px';
$screen-lg: '1024px';
$screen-xl: '1280px';
$screen-2xl: '1536px';

// Body
$body-font-family: 'Noto Sans', Arial, Helvetica, sans-serif;

// Colors
$primary-color: #000103;
$color-green: #324a34;
$color-yellow: #fece16;
$color-orange: #fd6035;
$color-black: #040301;
$color-black-bg: #1f1e1a;
$color-body: #f5efe1;

// Common
$header-height: 50px;

// Button
