<footer class="border-t border-[rgba(0,0,0,0.2)] py-[10px] mt-[80px]">
  <div class="container flex items-center justify-between max-md:flex-col gap-2">
    <div class="text-sm">
      © {{ currentYear }} | Designed & Built by <strong class="font-semibold">Anil Kumar</strong>
    </div>

    <div class="flex items-center gap-3">
      @for (item of socials; track $index) {
        <a href="{{ item.url }}" target="_blank" rel="noreferrer noopener">
          <fa-icon
            [icon]="item.icon"
            class="text-[22px] opacity-70 hover:opacity-100 transition-opacity"
          ></fa-icon>
        </a>
      }
    </div>
  </div>
</footer>
