// @import '/src/styles/variables';

.saying-wrapper {
  position: relative;
  padding: 40px 0;

  &::before,
  &::after {
    font-size: 5rem;
    // font-family: monospace, $body-font-family;
    font-family: monospace;
    position: absolute;
    line-height: 2rem;
    color: rgba($color: #000000, $alpha: 0.3);
  }

  &::before {
    content: '“';
    top: 16px;
    left: 0;
  }
  &::after {
    content: '”';
    bottom: -20px;
    right: 0;
  }

  .saying-details {
    position: relative;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;

    .see-more-btn {
      position: absolute;
      bottom: 0;
      right: 0;
      padding-left: 30px;
      background-color: white;
    }
  }
}
