<header
  class="header flex max-sm:flex-col sm:justify-center sm:items-center border-b border-gray-300"
  #header
>
  <nav class="flex gap-5 text-sm max-sm:flex-col">
    @for (navLink of navLinks; track navLink.fragment) {
      <a
        [ngClass]="{ 'active': navLink.fragment === activeFragmentSig() }"
        [routerLink]="navLink.routerLink"
        [fragment]="navLink.fragment"
        (click)="onNavLinkClick()"
        >{{ navLink.label }}
      </a>
    }
  </nav>
</header>

<button
  class="hidden max-sm:block fixed top-3 right-4"
  (click)="isMobileMenuOpenSig.set(!isMobileMenuOpenSig())"
>
  @if (isMobileMenuOpenSig()) {
    <fa-icon
      [icon]="icons.faXmark"
      class="text-[22px] opacity-70 hover:opacity-100 transition-opacity"
    ></fa-icon>
  } @else {
    <fa-icon
      [icon]="icons.faBars"
      class="text-[22px] opacity-70 hover:opacity-100 transition-opacity"
    ></fa-icon>
  }
</button>
