@import '/src/styles/variables';

header {
  position: relative;
  height: $header-height;
  transition: top 350ms ease-in-out;

  &.slide-in {
    top: 0 !important;
  }

  nav {
    display: flex;

    @media (max-width: $screen-sm) {
      gap: 10px;
      min-width: 150px;
      padding: 8px;
      display: none;
      background-color: rgba($color-black, 0.8);
      position: fixed;
      top: calc($header-height + 5px);
      right: 15px;
      border-radius: 4px;
      border-bottom: none;
      box-shadow:
        0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
      z-index: 10;
    }

    &.menu-open {
      display: flex;
    }

    a {
      display: inline-block;
      position: relative;
      color: rgba(white, 0.7);

      &:hover {
        color: white;
        text-shadow: 0.5px 0.5px rgba($primary-color, 0.2);

        &::before {
          width: 100%;
        }
      }

      &.active {
        color: white;
        text-shadow: 0.5px 0.5px rgba($primary-color, 0.2);
      }

      @media (max-width: $screen-sm) {
        width: 100%;
        padding: 8px;
        color: rgba(white, 0.7);

        &:hover {
          color: white;
        }

        &.active {
          color: white;
        }
      }

      &::before {
        content: '';
        display: block;
        height: 1.5px;
        width: 0;
        background-color: $color-orange;
        position: absolute;
        bottom: -4px;
        left: 0.5px;
        transition: width 250ms ease-in-out;
      }
    }
  }
}

header.float-in {
  background-color: rgba($color-black, 0.8);
  border-bottom: none;
  position: fixed;
  top: -$header-height;
  width: 100%;
  left: 0;
  z-index: 10;

  nav a {
    color: rgba(white, 0.7);

    &:hover {
      color: white;
    }

    &.active {
      color: white;
    }
  }
}
