@import '/src/styles/variables';

header {
  height: 40px;
  // background: rgba(22, 22, 23, 0.8);
  // position: fixed;
  // top: 0;
  // width: 100%;
  // left: 0;
  // z-index: 10;

  nav a {
    color: rgba($primary-color, 0.7);

    &:hover {
      color: $primary-color;
      text-shadow: 0.5px 0.5px rgba($primary-color, 0.2);
      // font-weight: 500;
    }
  }
}
