<header class="header flex border-b border-gray-300" #header>
  <div class="container flex items-center justify-center gap-10 max-sm:px-0">
    <!-- <a class="logo" routerLink="/" (click)="onLogoClick()">A</a> -->

    <nav class="flex gap-5 text-sm max-sm:flex-col">
      @for (navLink of navLinks; track navLink.fragment) {
        <a
          [ngClass]="{ 'active': navLink.fragment === activeFragmentSig() }"
          [routerLink]="navLink.routerLink"
          [fragment]="navLink.fragment"
          (click)="onNavLinkClick()"
          >{{ navLink.label }}
        </a>
      }
    </nav>
  </div>
</header>

<button
  class="hidden max-sm:block fixed top-3 right-4"
  (click)="isMobileMenuOpenSig.set(!isMobileMenuOpenSig())"
>
  @if (isMobileMenuOpenSig()) {
    <fa-icon
      [icon]="icons.faXmark"
      class="text-[22px] opacity-70 hover:opacity-100 transition-opacity"
    ></fa-icon>
  } @else {
    <fa-icon
      [icon]="icons.faBars"
      class="text-[22px] opacity-70 hover:opacity-100 transition-opacity"
    ></fa-icon>
  }
</button>
