<header class="header flex shadow" #header>
  <div class="container flex items-center justify-between gap-10">
    <a class="logo text-[1.2rem] text-white font-[500]" routerLink="/" (click)="onLogoClick()">
      Portfolio.
    </a>

    <nav class="flex gap-5 text-sm max-md:flex-col" #navbar>
      @for (navLink of navLinks; track navLink.fragment) {
        <a
          [ngClass]="{ 'active': navLink.fragment === activeFragmentSig() }"
          [routerLink]="navLink.routerLink"
          [fragment]="navLink.fragment"
          (click)="onNavLinkClick()"
          >{{ navLink.label }}
        </a>
      }
    </nav>

    <div class="flex gap-4">
      <a
        class="text-[0.8rem] px-3 py-1 bg-transparent border-2 border-color-yellow text-white font-[500] transition-colors hover:bg-color-yellow hover:text-black"
        href="assets/resume.pdf"
        target="_blank"
      >
        Resume
      </a>

      <button
        class="hidden w-[30px] text-white max-md:block opacity-90 hover:opacity-100 transition-opacity"
        (click)="isMobileMenuOpenSig.set(!isMobileMenuOpenSig())"
      >
        @if (isMobileMenuOpenSig()) {
          <fa-icon [icon]="icons.faXmark" class="text-[22px]"></fa-icon>
        } @else {
          <fa-icon
            [icon]="icons.faBars"
            class="text-[22px] opacity-80 hover:opacity-100 transition-opacity"
          ></fa-icon>
        }
      </button>
    </div>
  </div>
</header>
