<section data-section-id="" class="page-section -mt-[var(--header-height)] flex min-h-[100vh] items-center justify-center bg-black pt-[var(--header-height)] text-white">
  <div class="container">
    <div class="relative flex flex-col items-center gap-3 text-center">
      <p class="mb-0 text-[1.1rem] font-[500] uppercase">Hi, my name is</p>
      
      <h1 class="font-bold leading-tight max-lg:text-[2.4rem] lg:text-[3rem] xl:text-[3.5rem]">
        <span class="text-primary">Anil Kumar</span>
        <br>
        <span>I build things for the web</span>
      </h1>
      
      <p class="max-lg:text-sm md:max-w-[580px]">
        I'm a Full Stack Web Developer with a primary focus on Frontend Technologies. With a keen eye for detail and robust problem-solving abilities, I have consistently delivered impactful projects with success.
      </p>
      
      <div class="mt-4 flex items-center gap-4">
        @for (item of socials; track $index) {
          <a
            [href]="item.url"
            target="_blank"
            rel="noreferrer noopener"
            [attr.aria-label]="item.name"
            [title]="item.name"
            class="flex h-10 w-10 items-center justify-center rounded-full border-2 border-white transition-colors duration-300 hover:bg-white max-sm:h-10 max-sm:w-10 [&>*]:hover:text-black"
          >
            <fa-icon [icon]="item.icon" class="text-white transition-colors duration-300"></fa-icon>
          </a>
        }
      </div>
    </div>
  </div>
</section>
