<section class="page-section bg-color-green text-white">
  <div class="container flex items-center gap-10 max-lg:gap-5 max-sm:flex-col">
    <div class="flex-1 flex flex-col gap-3">
      <p class="text-color-orange text-[1.1rem] font-[500] mb-0 uppercase">Hi, my name is</p>

      <h1 class="xl:text-[3.5rem] lg:text-[3rem] max-lg:text-[2.4rem] leading-tight font-bold">
        <span>Anil Kumar.</span>
        <br />
        <span>I build things for the web.</span>
      </h1>

      <p class="md:max-w-[80%] max-lg:text-sm">
        I’m a Full Stack Web Developer with a primary focus on Frontend Technologies. With a keen
        eye for detail and robust problem-solving abilities, I have consistently delivered impactful
        projects with success.
      </p>

      <div class="flex items-center gap-4 mt-4">
        @for (item of socials; track $index) {
          <a
            href="{{ item.url }}"
            target="_blank"
            rel="noreferrer noopener"
            class="flex items-center justify-center w-12 h-12 rounded-full border-2 border-white hover:bg-color-black hover:border-color-black transition-all"
          >
            <fa-icon [icon]="item.icon" class="text-[22px] text-white"></fa-icon>
          </a>
        }
      </div>
    </div>

    <div class="basis-[30%] max-sm:hidden max-sm:-order-1">
      <img src="/assets/images/hero/hero-2.svg" alt="hero-img" width="100%" height="auto" />
    </div>
  </div>
</section>
