@import '/src/styles/variables';

.form-group {
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
  }

  .form-control {
    border-radius: 4px;
    background-color: rgb(249 250 251 / 1);
    border-width: 1px;
    border-color: rgb(209 213 219 / 1);
    color: rgba($primary-color, 0.8);
    padding: 10px;
    width: 100%;

    &:focus {
      border-color: $color-black;
    }

    &.invalid {
      border-color: rgb(239 68 68 / 1);
    }
  }
}

.submit-btn {
  @media (max-width: $screen-xxs) {
    width: 100%;
  }

  &:hover {
    .icon {
      transition: transform 250ms ease-in-out;
      transform: translateX(4px);
    }
  }
}
